@media (max-width: 575.98px) {
    .cta_btn {
        width: 24%;
    }
    .item {
        min-height: 350px;
    }
    .carousel_text {
        min-height: 350px;
    }
    .carousel_text h1 {
        padding: 10px 0;
        font-size: 22px;
    }
    .carousel_text h4 {
        font-size: 18px;
    }
    .btn_carousel {
        width: 190px;
        padding: 10px 22px;
        font-size: 15px;
    }
    #carousel .owl-theme .owl-nav {
        right: 30px;
        bottom: 30px;
        font-size: 36px;
    }
    #capabilitie {
        padding: 30px 0 100px;
    }
    .capabilitie_body img {
        width: 10%;
    }
    .capabilitie_body h1 {
        font-size: 23px;
        padding: 25px 0;
        line-height: 1.6;
        margin: 0;
    }
    .capabilitie_body p {
        font-size: 16px;
        padding: 0 10px;
    }
    .project_text {
        padding-top: 35px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .project_text,
    .media-body h5 {
        font-size: 16px;
        line-height: 1.6;
    }
    .project_text,
    .media-body p {
        font-size: 14px;
        line-height: 1.6;
    }
    .find_body {
        text-align: center;
        padding: 40px 0;
    }
    .find_body img {
        width: 100px;
    }
    .find_text h2 {
        font-size: 22px;
        padding: 35px 0 0;
    }
    .find_btn {
        padding: 10px 25px;
    }
    #featured {
        text-align: center;
    }
    .featured_body {
        padding-bottom: 15px;
    }
    .featured_body h2 {
        font-size: 23px;
        padding: 10px 0;
    }
    .featured_body p {
        font-size: 16px;
        padding-right: 0px;
    }
    .featured_btn {
        text-align: center !important;
    }
    .featured_btn a {
        padding: 10px 25px;
    }
    .community_body h1 {
        font-size: 22px;
        line-height: 1.6;
    }
    .community_body p {
        font-size: 16px;
        padding: 0px;
    }
    .testimonial_body {
        padding: 20px;
    }
    .testimonial_body h2 {
        font-size: 22px;
    }
    .testimonial_body p {
        font-size: 14px !important;
    }
    .brand_body {
        text-align: center;
    }
    .brand_body img {
        width: 35%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .cta_btn {
        width: 22%;
    }
    .item {
        min-height: 350px;
    }
    .carousel_text {
        min-height: 350px;
    }
    .carousel_text h1 {
        padding: 10px 0;
        font-size: 22px;
    }
    .carousel_text h4 {
        font-size: 18px;
    }
    .btn_carousel {
        width: 190px;
        padding: 10px 22px;
        font-size: 15px;
    }
    #carousel .owl-theme .owl-nav {
        right: 30px;
        bottom: 30px;
        font-size: 36px;
    }
    #capabilitie {
        padding: 30px 0 100px;
    }
    .capabilitie_body img {
        width: 10%;
    }
    .capabilitie_body h1 {
        font-size: 23px;
        padding: 25px 0;
        line-height: 1.6;
        margin: 0;
    }
    .capabilitie_body p {
        font-size: 16px;
        padding: 0 10px;
    }
    .project_text {
        padding-top: 35px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .project_text,
    .media-body h5 {
        font-size: 18px;
        line-height: 1.6;
    }
    .project_text,
    .media-body p {
        font-size: 16px;
        line-height: 1.6;
    }
    .find_body {
        text-align: center;
        padding: 35px;
    }
    .find_body img {
        width: 100px;
    }
    .find_text h2 {
        font-size: 22px;
        padding: 35px 0 0;
    }
    .find_btn {
        padding: 10px 25px;
    }
    #featured {
        text-align: center;
    }
    .featured_body {
        padding-bottom: 15px;
    }
    .featured_body h2 {
        font-size: 23px;
        padding: 10px 0;
    }
    .featured_body p {
        font-size: 16px;
        padding-right: 0px;
    }
    .featured_btn {
        text-align: center;
    }
    .featured_btn a {
        padding: 10px 25px;
    }
    .community_body h1 {
        font-size: 22px;
        line-height: 1.6;
    }
    .community_body p {
        font-size: 16px;
        padding: 0px;
    }
    .testimonial_body {
        padding: 20px;
    }
    .testimonial_body h2 {
        font-size: 22px;
    }
    .testimonial_body p {
        font-size: 14px !important;
    }
    .brand_body {
        text-align: center;
    }
    .brand_body img {
        width: 35%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .cta_btn {
        width: 17%;
    }
    .item {
        min-height: 350px;
    }
    .carousel_text {
        min-height: 350px;
    }
    .carousel_text h1 {
        padding: 10px 0;
        font-size: 25px;
    }
    .carousel_text h4 {
        font-size: 18px;
    }
    .btn_carousel {
        width: 190px;
        padding: 10px 22px;
        font-size: 15px;
    }
    #carousel .owl-theme .owl-nav {
        right: 30px;
        bottom: 30px;
        font-size: 36px;
    }
    #capabilitie {
        padding: 30px 0 100px;
    }
    .capabilitie_body img {
        width: 8%;
    }
    .capabilitie_body h1 {
        font-size: 23px;
        padding: 25px 0;
        line-height: 1.6;
        margin: 0;
    }
    .capabilitie_body p {
        font-size: 16px;
        padding: 0 10px;
    }
    .project_text {
        padding-top: 35px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .project_text,
    .media-body h5 {
        font-size: 18px;
        line-height: 1.6;
    }
    .project_text,
    .media-body p {
        font-size: 16px;
        line-height: 1.6;
    }
    .find_body {
        text-align: center;
        padding: 20px;
    }
    .find_body img {
        width: 100px;
    }
    .find_text h2 {
        font-size: 22px;
        padding: 35px 0 0;
    }
    .find_text p {
        font-size: 16px;
    }
    .find_btn {
        padding: 10px 25px;
    }
    .featured_body {
        padding-bottom: 15px;
    }
    .featured_body h2 {
        font-size: 23px;
        padding: 10px 0;
    }
    .featured_body p {
        font-size: 16px;
        padding-right: 0px;
    }
    .featured_btn a {
        padding: 15px 30px;
    }
    .card-title {
        font-size: 14px;
    }
    .card-text {
        font-size: 14px;
    }
    .community_body h1 {
        font-size: 25px;
        line-height: 1.6;
    }
    .community_body p {
        font-size: 16px;
        padding: 0px;
    }
    .card-footer a {
        padding-left: 0px;
    }
    .testimonial_body {
        padding: 20px 135px;
    }
    .testimonial_body h2 {
        font-size: 25px;
    }
    .testimonial_body p {
        font-size: 16px !important;
    }
    .brand_body {
        text-align: center;
    }
    .brand_body img {
        width: 35%;
    }
}

@media (min-width: 992px) and (max-width: 1279.98px) {
    .nav-item {
        margin-left: 10px;
    }
    .item {
        min-height: 450px;
    }
    .carousel_text {
        min-height: 450px;
    }
    .carousel_text h1 {
        padding: 10px 0;
        font-size: 35px;
    }
    .carousel_text h4 {
        font-size: 20px;
    }
    .btn_carousel {
        width: 190px;
        padding: 10px 22px;
        font-size: 16px;
    }
    #carousel .owl-theme .owl-nav {
        right: 30px;
        bottom: 30px;
        font-size: 36px;
    }
    .capabilitie_body h1 {
        padding: 20px 200px;
        line-height: 1.5;
    }
    .capabilitie_body p {
        font-size: 18px;
    }
    .card-footer a {
        padding-left: 110px;
    }
    .find_body {
        padding: 50px 45px 50px 50px;
    }
    .find_two {
        padding: 50px 30px 50px 50px;
    }
}

@media (min-width: 1280px) and (max-width: 1399px) {}