body {
    font-family: 'Open Sans', sans-serif;
}


/* Header Css Start */

.nav-item {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-left: 20px;
    color: #666666;
}

.nav-link {
    transition: color .4s;
}

.nav-link:hover {
    color: #add136 !important;
}

.cta_btn {
    border: 1px solid rgb(112, 113, 115);
    background-color: rgb(173, 209, 54);
    width: 100%;
    padding: 10px 30px !important;
    color: #fff !important;
    border-radius: 40px;
    transition: all .4s;
}

.cta_btn:hover {
    border: 1px solid rgb(112, 113, 115);
    background-color: transparent;
    color: #666 !important;
}


/* Header Css End */


/* carousel Css Start*/

#carousel .owl-theme .owl-nav {
    margin-top: 10px;
    position: absolute;
    right: 50px;
    bottom: 45px;
    color: #fff;
    font-size: 60px;
}

.item {
    background-color: #fff;
    min-height: 600px;
}

.carousel_text {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 600px;
}

.carousel_text h1 {
    color: #fff;
    padding: 20px 0;
    font-size: 40px;
}

.carousel_text h4 {
    color: #fff;
    padding-bottom: 15px;
    font-weight: 500;
}

.btn_carousel {
    width: 220px;
    margin: 0 auto;
    border: 1px solid rgb(153, 197, 10);
    border-radius: 5px;
    background-color: rgb(153, 197, 10);
    padding: 10px 30px;
    color: #fff;
    font-size: 18px;
    transition: all .4s;
}

.btn_carousel:hover {
    text-decoration: none;
    color: #fff;
}

.owl-dots {
    display: none;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none !important;
    color: #FFF;
    text-decoration: none;
}


/* carousel Css End */


/* Capabilitie Css Start */

#capabilitie {
    background-color: white;
    padding: 100px 0;
}

.capabilitie_body img {
    width: 5%;
}

.capabilitie_body h1 {
    color: #515151;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 50px 300px;
}

.capabilitie_body p {
    font-size: 20px;
    color: #515151;
    padding: 0 100px;
    opacity: .7;
}


/* Capabilitie Css End */


/* Project Css Start */

.project-tab {
    padding: 7%;
    margin-top: -8%;
}

.project-tab #tabs {
    background: #007b5e;
    color: #eee;
}

.project-tab #tabs h6.section-title {
    color: #eee;
}

#tabs .nav-tabs {
    border-bottom: 0px;
}

.project-tab #tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #656565!important;
    background-color: transparent;
    border-color: transparent transparent transparent !important;
    border-bottom: 2px solid #add136 !important;
    font-size: 16px;
    font-weight: bold;
}

.project-tab .nav-link {
    border: 2px solid transparent !important;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #656565!important;
    font-size: 16px;
    font-weight: 600;
}

.project-tab .nav-link:hover {
    border: none;
}

.project-tab thead {
    background: #f3f3f3;
    color: #333;
}

.project-tab a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.project_text {
    padding-top: 70px;
    padding-left: 185px;
    padding-right: 75px;
}

.project_text,
.media-body h5 {
    color: #add136 !important;
}

.project_text,
.media-body p {
    color: #606060 !important;
}

.number {
    border-radius: 50%;
    background-color: rgb(173, 209, 54);
    width: 43px;
    height: 43px;
    display: inline-block;
    color: #fff;
    line-height: 2.3;
    padding-left: 17px;
    padding-top: 3px;
}


/* Project Css End */


/* Find Css Start */

#find {
    padding: 30px 0;
}

.find_body {
    background-color: #e2f8ff;
    padding: 50px 90px 50px 195px;
    width: 100%;
}

.find_two {
    background-color: #f5f9eb;
    padding: 50px 207px 50px 90px;
    width: 100%;
}

.find_text {
    padding-left: 20px;
}

.find_text h2 {
    font-size: 25px;
    color: #515151;
    font-weight: 700;
}

.find_text p {
    font-size: 18px;
    color: #515151;
    padding: 15px 0;
}

.find_btn {
    border-radius: 10px;
    background-color: rgb(38, 166, 209);
    padding: 15px 30px;
    color: #fff;
}

.find_btn:hover {
    text-decoration: none;
    color: #fff;
}


/* Find Css End */


/* Featured Css Start */

#featured {
    background-color: white;
    padding: 35px 0;
}

.featured_body h2 {
    font-size: 30px;
    color: #515151;
    font-weight: 700;
    padding: 15px 0;
}

.featured_body p {
    font-size: 18px;
    color: #8f8f8f;
    padding-right: 35px;
}

.featured_btn {
    text-align: right;
}

.featured_btn a {
    border: 1px solid rgb(81, 81, 81);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 15px 30px;
    color: #515151;
    font-weight: 700;
    opacity: .7;
    transition: all .4s;
}

.featured_btn a:hover {
    background-color: #add136;
    border: 1px solid;
    color: #fff;
    text-decoration: none;
    opacity: 1;
}


/* Featured Css End */


/* Price Css Start */

#price {
    padding: 20px 0;
}

#price .card {
    overflow: hidden;
}

.price_image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    min-height: 230px;
}

.price_image::before {
    content: 'New';
    position: absolute;
    width: 100px;
    height: 100px;
    top: -51px;
    left: -51px;
    background: #add136;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transform: rotate(-45deg);
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.price_tag {
    position: absolute;
    right: 15px;
    bottom: 20px;
    border-radius: 5px;
    background-color: rgb(38, 166, 209);
    padding: 10px 10px;
}

.price_tag p {
    margin: 0;
    color: #fff;
    font-size: 16px;
}

.price_tag p span {
    font-weight: 700;
}

.card-title {
    font-size: 18px;
    color: #484848;
    font-weight: 700;
}

.card-text {
    font-size: 16px;
    color: #484848;
}

.progress-bar {
    background-color: #add136 !important;
}

.time {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.time h4 {
    font-size: 14px;
    color: rgb(141, 141, 141);
    line-height: 1.2;
}

.time h5 {
    font-size: 14px;
    color: rgb(141, 141, 141);
    line-height: 1.2;
}

.card-body,
.card-footer {
    background-color: #f7f7f7;
}

.card-footer a {
    font-size: 14px;
    color: #484848 !important;
    font-weight: 500;
    margin: 0;
    padding-left: 170px;
}

.card-footer span i {
    font-size: 18px;
    color: #add136;
    transform: rotate(270deg);
}


/* Price Css End */


/* Community Css Start*/

#community {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
}

.community_body h1 {
    font-size: 40px;
    color: #9ec02d;
    padding: 15px 0;
}

.community_body p {
    font-size: 20px;
    color: #949494;
    padding: 15px 35px;
}

.testimonial {
    padding-top: 20px;
}

.testimonial_body {
    background-color: rgb(255, 255, 255);
    padding: 30px 0;
    border-radius: 10px;
    position: relative;
}

.testimonial_body:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 22px 0px 0 45px;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    left: 10%;
    bottom: -26px;
    content: close-quote;
    transform: rotate(-64deg);
}

.testimonial_body h2 {
    font-size: 25px;
    color: #9ec02d;
}

.testimonial_body p {
    font-size: 18px;
    color: #848484;
    padding: 10px 50px;
    margin: 0;
}

.testimonial_image {
    text-align: left;
    padding-top: 40px;
    padding-left: 25px;
}

.tml_img {
    margin-right: 15px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;
}

.testimonial_image img {
    width: 100%;
    object-fit: contain;
    height: 60px;
}

.testimonial_image span {
    font-size: 15px;
    color: rgb(73, 73, 73);
    font-weight: 500;
}


/* Community Css End*/


/* Brand Css Start */

#brand {
    background-color: white;
    padding: 15px 0;
}

.brand_body img {
    width: 100%;
    opacity: .6;
}


/* Brand Css End */


/* Footer Css Star */

#footer {
    background-color: white;
    padding: 15px 0;
}

.footer_body {
    border-top: 1px solid #848484;
    padding-top: 10px;
}

.footer_body p {
    font-size: 14px;
    color: #848484;
}


/* Footer Css End */